* {
  margin: 0;
  padding: 0;
}

html, body {
  width:  100%;
  height: 100%;
  position: relative;
}

#gameScreen {
  border: 1px solid black;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 350px;
  background: rgba(255, 255, 255, 0.3);
  padding: 10px 30px;
  border-radius: 50px;

  &__items {
    display: flex;
    flex-direction: row;

    &-item {
      display: flex;
      justify-content: center;
      padding: 5px;
      margin: 5px;
      cursor: pointer;
      position: relative;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid #ccc;
      }

      &--selected {
        img {
          border: 2px solid #ccc;
        }
      }
    }

    span {
      position: absolute;
      bottom: -15px;
      font-weight: bold;
      color: darkmagenta;
    }
  }

  &__arrow {
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 10px;

    img {
      width: 25px;
      height: 25px;
      border: 0
    }
    img.down {
      display: none;
    }
  }

}

.treasure {
  display: flex;
  position: absolute;
  right: 100px;
  padding: 5px;

  &__item {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    position: relative;

    img {
      width: 75px;
      height: 75px;
      border-radius: 50%;
    }

    span {
      position: absolute;
      bottom: 0;
      left: 30px;
      font-weight: bold;
      color: darkmagenta;
      font-size: 20px;
    }
  }
}

@import "animation";